body, html, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.preload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.preload .icon {
  font-size: 5em;
}

.preload progress {
  width: 500px;
  height: 20px;
}